<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <p>In this portfolio I will concentrate on my free-time software projects.</p>
  <div class="panel panel-default">
    <div class="panel-body">
    	<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.tietoturvahaaste.fi/">Competition: Information Security Challenge</a> <h6 style="float:right;">Autumn 2016</h6></strong>
			<h6>Tech: Python, C, Wireshark, Burp, SQLmap, Unix</h6>
			<h6>Team: Toni Huttunen, Joel Huttunen, Jani Sinisalo, and Matias Lahti</h6>
			<p>
			The Finnish Communications Regulatory Authority organized an open information security competition (<a href="http://www.tietoturvahaaste.fi/">Tietoturvahaaste</a>) which consisted of a few trial rounds. The finals were held in hackathon Junction. Our team, adminadmin, won the competition. <br/><br/>

			<a href="https://gofore.com/yllattava-tempaus-tietoturvahaasteen-finaaliin/">https://gofore.com/yllattava-tempaus-tietoturvahaasteen-finaaliin/</a><br/>
			<a href="https://hub.elisa.fi/tietoturvahaaste-hyvikset-etsivat-haavoittuvuuksia/">https://hub.elisa.fi/tietoturvahaaste-hyvikset-etsivat-haavoittuvuuksia/</a><br/>
			<a href="https://www.tosibox.com/tosibox-team-2nd-at-hacking-competition/">https://www.tosibox.com/tosibox-team-2nd-at-hacking-competition/</a><br/>
			<a href="https://twitter.com/search?q=%23tietoturvahaaste">https://twitter.com/search?q=%23tietoturvahaaste</a>
			</p>
		</h5>
		<img height="240" src="/assets/images/tietoturvahaaste.jpg" alt="Tietoturvahaaste" />
	    <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.usn.no/getfile.php/13430018/usn.no/en/Files/Flyer_SOSE16.pdf">Presentation: System of Systems Engineering Conference 2016</a> <h6 style="float:right;">Summer 2016</h6></strong>
			<h6>Team: Laura Walden, Joel Huttunen, Wilried Bock, Daniel Klemetsen, Jonas Petterson, Tobias Møretrø, and Maja Rønnes</h6>
			<p>
			We had a presentation with topic: <i>"Applying Human-Centered Design in Automotive Industry"</i>. We had worked one year with the topic by doing a co-operation project with Stanford University and after our <a href="http://sugar-network.org/sugar/expo2016">final expo</a> at Stanford we were asked to keep a presentation in SoSe 2016 conference.
			</p>
		</h5>
		<img height="240" src="/assets/images/sose2016.jpg" alt="SoSe 2016" />

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Jonux/WineClassification">Project: Wine Classification Challenge</a><h6 style="float:right;">Autumn 2015</h6></strong>
			<h6>Tech: Matlab</h6>
			<p>
			I participated to a machine learning challenge where the task was to rate quality of thousands of wines based on their chemical properties. We got 1000 expert analysis from different wines and their chemical properties as a training set.<br/>

			We ended up using a multivariable support vector machine (SVM) method, neural networks, and K-nearest neighboards algorithms to solve this problem. We applied different kernel functions and eventually ended up using SVM in our final solution.
			</p>
		</h5>
		<img height="240" src="/assets/images/project_wine_classification.png" alt="Wine Classification" />

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Jonux/EdgeDetection/tree/master">Project: Canny-Sobel Edge Detection</a><h6 style="float:right;">Summer 2015</h6></strong>
			<h6>Tech: C++11</h6>
			<p>
			Canny-Sobel Edge Detection is commonly used in image processing. The algorithm is detecting edges by calculating vertical and horisontal color gradients from a picture. After the gradients, the algorithm uses a soft and hard neighbour mapping to narrow down the edges.
			</p>
		</h5>
		<img height="240" src="/assets/images/project_edge_detection.png" alt="Edge Detection" />


    	<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://tkln.fi/projects/_control_system_for_puma_560/">Project: Sparkling Wine Robot</a><h6 style="float:right;">Spring 2015</h6></strong>
			<h6>Tech: Arduino C, Unix, OpenGL, C++, Math: Inverse Kinematics, Control Theory, Electrical Engineering, Mechanical Design, 3D printing</h6>
			<h6>Team: Aapo Vienamo, Aapo Oksman, Eero Santamala, Joel Huttunen, Juho Kortekangas, Konsta Hölttä, Miika Lehtimäki, Petri Niemelä, Sami-Petteri Pukkila and Veikka Kähkönen</h6>
			<p>
			We got an idea of building a Sparkling Wine Robot for the first of May. So, first we got our sponsor HiQ with us and they helped us to get this project forward. I was responsible of project overall management so I would describe myself as a project coordinator.<br/><br/>

			The project included really intense two weeks. We got the mechanical robot with motors and sensors from Tampere but it was missing multiple parts, like a powersupply, controlling unit, and mechanical gripper. So, we had to implement those on our own.<br/><br/>

			Project schedule was tight because we had to wait a couple of weeks for our first hardware batch from China. Middle of the project, we noticed schema errors in our circuit boards so we had to fix quite many circuitboards manually.<br/><br/>

			We also got a side project by simulating the robot movements on PC. For this, we downloaded the robot's 3D model and implemented a simple OpenGL simulation of the robot's movements. Eventually, the project was a success! We were able to move the robot by driving it by set points. So, we were ready to start serving sparkling wine just before the event started!<br/>

			<h6>More information about the project:</h6> 

			<a href="http://sooda.dy.fi/2015/6/7/robokasi-skumppaa-kaatamassa-wappuna/">Overall specs by Sooda</a><br/>
			<a href="http://tkln.fi/projects/_control_system_for_puma_560/">Control System For Puma 560 by tkln</a><br/>
			<a href="https://twitter.com/hiqfinland/status/594051189270061057">HiQ Twitter Event</a><br/>
			<a href="https://www.facebook.com/HiQFinland/posts/903057573084948">HiQ Facebook Event</a><br/>
			<a href="https://www.youtube.com/watch?v=U5I2BmSMImA">Amazing Making of Video</a>
			</p>
		</h5>
		<img height="320" src="/assets/images/project_mortti2.png" alt="Mortti2" />
		<img height="320" src="/assets/images/project_mortti7.png" alt="Mortti7" />

		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://autsys.aalto.fi/intranet/as-0.3200/attach/S15-02/Final_report.pdf">Project: Water Usage Monitoring</a><h6 style="float:right;">Spring 2015</h6></strong>
			<h6>Tech: hardware designing, Arduino C, C#, .NET, AWS</h6>
			<p>
			Our water usage monitorin solution analysed water consumption by water pipes vibrations and reported the results to AWS cloud service. The product was implemented from a scratch to Nordic Independent Living Challenge. The main rationale behind the idea was to improve elders safety by following their daily water consumption.
			</p>
		</h5>
		<img height="240" src="/assets/images/project_water_usage.png" alt="Water Usage" />
		<img height="240" src="/assets/images/project_water_usage2.png" alt="Water Usage2" />

		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://wiki.aalto.fi/display/EmbeddedSystems/Car+project+instructions+2015">Project: Line Following Car, AVR</a><h6 style="float:right;">Spring 2015</h6></strong>
			<h6>Tech: AVR, C, Control Theory</h6>
			<h6>Team: Joel Huttunen, Mikko Rekola, and Tarmo Räntilä</h6>
			<p>
			Line Following Car was a school project where we implemented a small low level AVR program to keep the car on a white line. The car had eight infra-red sensors and the path was marked on a white tape. We implemented a Kalman filter and a PID-controller to keep the vehicle on the track. We also monitored the vehicle's battery voltage and took it into account in control values evaluation.
			</p>
		</h5>
		<img height="240" src="/assets/images/project_avr_car2.png" alt="AVR Car" />

		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project: 80's Metro Display</a><h6 style="float:right;">Spring 2015</h6></strong>
			<h6>Tech: Python, Unix, Bash</h6>
			<p>
			Retro Metro Display was a co-operation project with Aalto University Student Union (AYY). We reverse engineered the 80's display and implemented a python interface to interact with the display. The display was showing a counter when business school students are arriving to Otaniemi.
			</p>
		</h5>
		<img height="160" src="/assets/images/project_metro.png" alt="Metro Display" />

		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project: Online Game Store</a><h6 style="float:right;">Winter 2014</h6></strong>
			<h6>Tech: Python, Django, AWS, Javascript</h6>
			<h6>Team: Joel Huttunen, Toni Huttunen</h6>
			<p>
			We implemented a completely functional online game store which included bank transactions, third-party login systems, user management, and even a few test games to play. The user was able to buy and play different games on the website.
			</p>
		</h5>

		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.youtube.com/watch?v=-NJFZQRAO0c&index=8&list=PLmRDkQf8W1WFsSZk8PvDG7_sB7Gb4dI0s">Project: Rocket Into The Darkness</a><h6 style="float:right;">Spring 2014</h6></strong>
			<h6>Tech: Processing, Java</h6>
			<h6>Team: Joel Huttunen, Aleksi Salonen</h6>
			<p>
			Rocket Into The Darkness was our group's demo in Graffathon 2014 competition. We got a special mention from our retro style. We had 24 hours time to create a demo from a scratch, so we decided to go retro-style with spinning tunnel effect with a few extra features.<br/>
			</p>
		</h5>
		<img height="240" src="/assets/images/project_demo.png" alt="Demo" />

		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project: Share Contact</a> <h6 style="float:right;">Summer 2013</h6></strong>
			<h6>Tech: C#, C++, Windows Phone 7/8</h6>
			<p>
			Share Contact is a Windows Phone 7/8 application that provides an easy way to share your contact information with other mobile devices. It generates a QR code from your info and shares your contact information with other mobile devices by using global vcard standard.<br/>

			User interaction is simple. The user inserts their own information at the first startup and after that the user is able to share their info simply by asking the other person to scan their contact QR code.
			</p>
		</h5>
		<img height="240" src="/assets/images/project_share_contact.png" alt="Share Contact" />

		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project: Micromachines</a><h6 style="float:right;">Autumn 2012</h6></strong>
			<h6>Tech: C++, SFML 2, Box2D, Subversion</h6>
			<h6>Team: Posio Petri, Huttunen Joel, and Rekola Mikko</h6>
			<p>
			We implemented a fully functional 2D racing game which included a map editor and multiple special objects. The project was completed in 3 months and it ended up to have over 300 commits and over 15000 lines of source code. We used the latest SFML 2.1 graphic library and Box2D library for collection detection.
			</p>
		</h5>

		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.coolbasic.com/phpBB3/viewtopic.php?p=40097#p40097">Project: Tetris by Pixels</a><h6 style="float:right;">Autumn 2010</h6></strong>
			<h6>Tech: Coolbasic</h6>
			<p>
			I participated to a fast game compo where limitations were that no media was allowed. So, I decided to implement a tetris game where all graphics are generated from different fractals.
			</p>
		</h5>
		<img height="240" src="/assets/images/project_tetris.png" alt="Tetris" />

		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.coolbasic.com/phpBB3/viewtopic.php?t=1078">Project: Artillery</a><h6 style="float:right;">Autumn 2008</h6></strong>
			<h6>Tech: Coolbasic</h6>
			<p>
			Artillery is a legendary 2D shootting game where the players are shootting each other with varying weapons. This is the first graphical game that I have published. The game's AI opponent is estimating the hit positions based on its previous hits. The game also includes varying terain and a few extra features like UFOs and parachutes.
			</p>
		</h5>
		<img height="320" src="/assets/images/project_artillery.png" alt="Artillery" />
    </div>
  </div>
</div>
</section>
