<section id="technologies">
<div class="container">
  <h3>Technologies</h3>
  <p>In this portfolio I will concentrate on my free-time software projects.</p>
  <div class="panel panel-default">
    <div class="panel-body">

		Programming languages:
		C, C++, C#, Javascript, Python, TypeScript, Coolbasic, Visual Basic, QBasic, Matlab, Coldfusion, NodeJS
		Java, Processing, Arduino, Simulink, Jelly Script, Bash

		Frameworks:
		jQuery, Angular, React, .NET, OpenGL, SDL, SFML2, Numpy, Django

		Databases:
		Oracle SQL, MS SQL, Influx DB, ElasticSearch, Redis, S3

		Version Control:
		Git, SVN, ClearCase

		DevOps tools:
		Docker, Gulp, AWS, Heroku, Jenkins

		Editors:
		CodeBlocks, Sublime3, Visual Code, Visual Studio, Eclipse, Android Studio, 

		Other programs:
		SolidEdge, Wireshark, LaTeX, MS Excel, Burp, 

    </div>
  </div>
</div>
</section>