
<section id="technologies">
<div class="container">
  <h3>Technologies</h3>
  <p>I have worked with multiple technologies. Here are a few interesting ones:</p>
  <div class="panel panel-default">
    <div class="panel-body">

		<strong>Programming languages:</strong>
		Arduino, Bash, C, C++, C#, Python, Matlab, Javascript, Coolbasic, Visual Basic, QBasic, Coldfusion, NodeJS, Java, Processing, Simulink, Jelly Script<br/>

		<strong>Frameworks:</strong>
		jQuery, Angular, React, .NET, OpenGL, SDL, SFML2, Numpy, Django, Nltk<br/>

		<strong>Databases:</strong>
		Oracle SQL, MS SQL, Influx DB, ElasticSearch, Redis, S3<br/>

		<strong>Version Control:</strong>
		Git, SVN, ClearCase<br/>

		<strong>DevOps tools:</strong>
		Docker, Gulp, AWS, Heroku, Jenkins<br/>

		<strong>Editors:</strong>
		CodeBlocks, Sublime3, Visual Code, Visual Studio, Eclipse, Android Studio <br/>

		<strong>Other programs:</strong>
		SolidEdge, Wireshark, LaTeX, MS Excel, Burp <br/>

    </div>
  </div>
</div>
